@import url('https://fonts.googleapis.com/css2?family=Halant:wght@500&display=swap');


.main-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 96vh;
}

body{
    font-family: 'Halant', serif;
    background-color: #E5E5CB;
}

.quiz-container{
    margin-top: 10vw;
    display: flex;
    flex-direction: column;
    /* background-color: #D5CEA3; */
    min-width: 76vw;
    min-height: 70vh;
    color: black;
    padding-inline: 2vw ;
    justify-content: center;
    align-items: center;
    border: 4px solid #1E1E1E;
    box-shadow: 10px 10px 0px 0px rgba(30, 30, 30, 0.78);
}

h2{
    font-size: 2.4rem;
}

.question h3{
    font-size: 2.2rem;
    margin-bottom: -4px;
    margin-top: 3vh;

}

h4{
    margin-top: 1vh;
    margin-bottom: 6vh;
    font-size: 20px;
}

.page{
    align-self: start;
    margin-top: -10px;
}

.options{
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-top: 7.5vh;
    column-gap: 2vw;
    row-gap: 2.2vw;
}

.opt-btn{
    width: 36vw;
    height: 8vh;
    border: 3px solid #878763;
    border-radius: 0;
    background-color: #A8A880;
    font-family: 'Halant', serif;
    font-size: 1.3rem;
    box-shadow: 5px 5px 0px 0px rgba(30, 30, 30, 0.78);
}

.opt-btn:hover{
    background-color: #d58f26;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    animation: 1s ease 0s normal none pulsate;
    opacity: 1;
}

.actions{
    margin-top: 8.5vh;
    display: flex;
    justify-content: center;
    column-gap: 2.4vw;
}

.highlight{
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 1vh;
    width: 38vh;
    height: 6vh;
    background-color: #CB1818;
    color: #dad9d9;
    border-radius: 0;
    font-size: 1.3rem;
    border: 3px outset rgb(160, 3, 3);
    box-shadow: 5px 5px 0px 0px rgba(53, 53, 53, 0.78);
    border-radius: 6px;
}

.highlight:hover{
    animation: 1s ease 0s normal none pulsate;
    opacity: 1;
}


@keyframes pulsate {
    0% {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
  }
  